$deepblue: #0e39c5;
$cream: #eeeeee;
$white: #ffffff;
$deepgrey: #333;
$lightcream: #D9D9D9;
$blue: #4971f6;
$lightblue: #719BE6;
$lightgrey: #9c9c9c;
$offwhite: rgb(241, 240, 240);
$grey: #5f6368;
$black: black;
$hrgrey: rgb(143, 142, 142);
$beige: #e0dede;
$silver: rgb(97, 96, 96);
$pitchblack: rgba(0,0,0,0.4);
$cottonwhite: #f9f9f9;
$coalblack: rgba(0,0,0,0.2);