$header: #0e39c5;
$background: #eeeeee;
$white: #ffffff;
$login_form_box_shadow: #333;
$inputbox: #D9D9D9;
$loginbutton: #4971f6;
$login_button_box_shadow: #719BE6;
$form_border: #9c9c9c;
$search_button: rgb(241, 240, 240);
$logo_brand: #5f6368;
$black: black;
$hr: rgb(143, 142, 142);
$input_box_shadow: #e0dede;
$small_input_button: rgb(97, 96, 96);
$blur: rgba(0,0,0,0.4);