@import './Color.scss';
* {
    box-sizing: border-box;
}

body {
    background-color: $background;
}

h3 {
    font-family: roboto;
    font-weight: bold;
    color: $header;
    font-size: 35px;
}

.box {
    width: 400px;
    height: 300px;
}

.inner-box {
    padding: 20px;
}

.box h3 {
    text-align: center;
    margin: 5px 0px;
    color: $header;
    ;
}

input[type="email"],

button[type="submit"] {

    border-radius: 100px;
    padding: 10px 15px;
    width: 77%;
    height: 20%;
    border: 1px solid $inputbox;
    outline: none;
    display: block;
    margin: 30px auto 20px auto;
    ;
}

button[type="submit"] {
    border-radius: 100px;
    border: none;
    background: $loginbutton;
    width: 20%;
    padding: 10px;
    color: #FFFFFF;
    margin-top: 25px;
    box-shadow: 0 2px 10px -3px $login_button_box_shadow;
    display: block;
    margin: 55px auto 10px auto;
}

form {
    background-color: $white;
    width: 415px;
    margin: 10px auto 10px auto;
    padding: 30px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px -3px $login_form_box_shadow;
    text-align: center;
    height: 300px;
}